
#quadrado{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(154, 154, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: all 3s;
    color: white;
    font-size: 50px;
}

.quadrado_aparece{left: 0% !important;
transition: all 1s;
color: white;
font-size: 30px;}


#botao{
    display: flex;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(68, 68, 68);
    align-items: center;
margin-top: 100px;
margin-left: -10px;
width: 40px;
height: 50px;
cursor: pointer;}



#divRelogio{ display: flex;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(68, 68, 68);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 50px;
width: 200px;
height: 100px;
cursor: pointer;
color: green;
display: none;}



#data{ display: flex;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(68, 68, 68);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
width: 100px;
height: 50px;
cursor: pointer;
color: green;
display: none;
}


#toggle{display: flex;
border-radius: 0px 5px 5px 0px;
border: 1px solid rgb(255, 0, 0);
align-items: center;
text-align: center;
justify-content: center;
font-size: 15px;
width: 200px;
height: 40px;
cursor: pointer;
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(0, 0, 0);
color: white;
}
.sumico{
    display: none !important;
    background-color: rgb(43, 42, 42) !important;
}

.sumico_data{
    display: none !important;
    background-color: rgb(43, 42, 42) !important;
}



.aparecer{
    display: block !important;
    background-color: rgb(235, 235, 235) !important;
    display: flex !important;
    border-left: 1px solid rgb(255, 0, 0) !important;
    border-right: 1px solid rgb(255, 0, 0) !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    font-size: 50px !important;
width: 200px !important;
height: 100px !important;
cursor: pointer !important;
color: rgb(255, 255, 255) !important;
background-color: rgb(0, 0, 0) !important;
}


.aparecer_data{
    display: block !important;
    background-color: rgb(235, 235, 235) !important;
    border-left: 1px solid rgb(255, 0, 0) !important;
    border-right: 1px solid rgb(255, 0, 0) !important;
    border-top: 1px solid rgb(255, 0, 0) !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    font-size: 30px !important;
width: 200px !important;
height: 40px !important;
cursor: pointer !important;
margin-bottom: -5px !important;
color: rgb(255, 255, 255) !important;
background-color: rgb(0, 0, 0) !important;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
flex-direction: column;}

.timer {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.timer:hover {
    transform: translateY(-5px);
}

.def_alarme {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #0056b3;
    outline: none;
}

input[type="number"]:hover{
    background-color: #0056b3;
    border-color: white;
    color: white;
    outline: none;
    transition: all 0.5s ease;
}

.comandos {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 48%; /* Ajuste de largura para caber melhor */
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
    background-color: #004085;
}